.contact {
  position: relative;
  display: grid;
  grid-template-rows: 50vh repeat(3, minmax(min-content, max-content));
  grid-template-columns:
    [ full-start] 1fr [center-start] repeat(
      10,
      [col-start] minmax(min-content, 12rem) [col-end]
    )
    [center-end] 1fr [full-end];

  grid-template-areas:
    'head head head head head head head head head head head head'
    '  .  cont cont cont cont cont cont cont cont cont cont  .  '
    'foot foot foot foot foot foot foot foot foot foot foot foot';

  &__header {
    grid-area: head;
    background-color: transparent;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.7) 0%,
        rgba(214, 137, 151, 0.01) 25%,
        rgba(248, 221, 226, 0.12) 65%,
        rgba(255, 2255, 255, 1) 100%
      ),
      url(https://picsum.photos/1920/540.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    &--title {
      font-family: var(--font-display);
      font-size: 5.6rem;
      background: transparent;
      color: var(--color-secondary-dark-2);
      font-weight: 500;
    }
  }

  &__footer {
    grid-area: foot;
    background-color: var(--color-secondary-light-1);
    border-top: 2px solid var(--color-secondary-light-2);
    padding: 4rem;

    display: grid;
    grid-auto-rows: auto;
    justify-content: center;
  }

  &__content {
    grid-area: cont;
    margin: 4rem 0;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }
  }

  &__platforms,
  &__message {
    background: var(--color-white);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2 {
      font-family: var(--font-display);
      font-weight: 400;
      font-size: 2.6rem;
      line-height: 1.25;
      margin-bottom: 4rem;
      color: var(--color-secondary-dark-2);
    }

    & h3 {
      font-family: var(--font-display);
      font-weight: 700;
      font-size: 1.3rem;
      line-height: 1.25;
      align-self: center;
      color: var(--color-secondary-dark-2);
    }

    & p {
      font-family: var(--font-display);
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 1.8;
      color: var(--color-secondary-dark-2);
      margin-bottom: 2rem;
    }

    & a {
      text-decoration: none;
      color: var(--color-secondary-dark-2);
    }
  }

  &__form {
    padding: 4rem;
    width: 80%;
    border: 2px solid var(--color-secondary-light-0);

    & .inputbox {
      position: relative;
      width: 100%;
      margin-top: 1rem;

      & input,
      & textarea {
        width: 100%;
        padding: 0.5rem 0;
        margin: 1rem 0;
        font-family: var(--font-primary);
        font-size: 1.4rem;
        color: var(--color-secondary-dark-2);
        font-weight: 400;
        border: 2px solid var(--color-secondary-light-0);
        outline: none;
        resize: vertical;

        // &:focus ~ span,
        // &:valid ~ span {
        //   color: orangered;
        //   color: var(--color-secondary-dark-1);
        //   font-size: 1.2rem;
        //   transform: translateY(-2rem);
        // }
      }

      & input[type='submit'] {
        width: 10rem;
        background: var(--color-secondary-dark-2);
        color: var(--color-secondary-light-0);
        border: none;
        cursor: pointer;
        padding: 1rem;
        font-size: 1.3rem;
        font-weight: 500;
      }

      & span {
        position: absolute;
        left: 0;
        top: -3rem;
        padding: 0.5rem 0;
        margin: 1rem 0;
        font-family: var(--font-primary);
        font-size: 1.4rem;
        line-height: 1.5;
        font-weight: 700;
        color: var(--color-secondary-dark-2);
        pointer-events: none;
        transition: 0.5s;
      }
    }
  }

  &__platforms {
    border-right: 1px solid var(--color-secondary-light-0);
  }

  &__social {
    margin: 4rem 0;

    &--link {
      text-decoration: none;
    }

    &--icon {
      fill: var(--color-secondary-dark-2);
      width: 4rem;
      height: 4rem;
      padding: 1rem;
      border-radius: 25%;
      border: 1px solid var(--color-primary-dark-1);
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        border: 2px solid var(--color-grey-light-1);
      }
    }
  }
}
