.exploded {
  // grid-row: 6 / 7;
  // grid-column: full-start / full-end;
  grid-area: expl;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-template-areas:
    'item-01 item-01 item-02 item-02 item-02 item-03 item-04 item-04'
    'item-01 item-01 item-02 item-02 item-02 item-03 item-04 item-04'
    'item-05 item-05 item-02 item-02 item-02 item-08 item-08 item-09'
    'item-05 item-05 item-06 item-06 item-07 item-08 item-08 item-09'
    'item-05 item-05 item-06 item-06 item-13 item-13 item-13 item-09'
    'item-10 item-11 item-11 item-12 item-13 item-13 item-13 item-14'
    'item-10 item-11 item-11 item-12 item-13 item-13 item-13 item-14';
  gap: 1.5rem;
  padding: 1.5rem;

  @media only screen and (max-width: $bp-large) {
    padding: 1rem;
    gap: 1rem;
  }

  &__item {
    &--1,
    &--2,
    &--3,
    &--4,
    &--5,
    &--6,
    &--7,
    &--8,
    &--9,
    &--10,
    &--11,
    &--12,
    &--13,
    &--14 {
      box-shadow: 0 1rem 2rem var(--color-shadow);
      outline-offset: 2rem;
      transition: all 0.4s ease-in-out;

      &:hover {
        outline: 1.5rem solid var(--color-primary);
        z-index: 1;
      }

      & .exploded__text {
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s ease-in-out;
      }

      &:hover .exploded__text {
        opacity: 1;
        visibility: visible;
      }
    }

    &--1 {
      grid-area: item-01;

      &:hover {
        transform: scale(1.2) translate(15%, 25%);
      }
    }

    &--2 {
      grid-area: item-02;

      &:hover {
        transform: scale(1.2) translateY(20%);
      }
    }

    &--3 {
      grid-area: item-03;

      &:hover {
        transform: scale(1.2) translateY(20%);
      }
    }

    &--4 {
      grid-area: item-04;

      &:hover {
        transform: scale(1.2) translate(-15%, 20%);
      }
    }

    &--5 {
      grid-area: item-05;

      &:hover {
        transform: scale(1.2) translateX(15%);
      }
    }

    &--6 {
      grid-area: item-06;

      &:hover {
        transform: scale(1.2);
      }
    }

    &--7 {
      grid-area: item-07;

      &:hover {
        transform: scale(1.2);
      }
    }

    &--8 {
      grid-area: item-08;

      &:hover {
        transform: scale(1.2);
      }
    }

    &--9 {
      grid-area: item-09;

      &:hover {
        transform: scale(1.2) translateX(-20%);
      }
    }

    &--10 {
      grid-area: item-10;

      &:hover {
        transform: scale(1.2) translate(20%, -20%);
      }
    }

    &--11 {
      grid-area: item-11;

      &:hover {
        transform: scale(1.2) translateY(-20%);
      }
    }

    &--12 {
      grid-area: item-12;

      &:hover {
        transform: scale(1.2) translateY(-20%);
      }
    }

    &--13 {
      grid-area: item-13;

      &:hover {
        transform: scale(1.2) translateY(-15%);
      }
    }

    &--14 {
      grid-area: item-14;

      &:hover {
        transform: scale(1.2) translate(-20%, -20%);
      }
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 4s ease-in-out;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: var(--color-white-1);
    opacity: 0;
    visibility: hidden;

    & > h2 {
      display: inline-block;
      font-family: var(--font-display);
      font-weight: 400;
      font-size: 3rem;
    }

    & > p {
      display: inline-block;
      font-family: var(--color-primary);
      font-weight: 400;
      font-size: 1.4;
      line-height: 1.5;
    }
  }
}
