/* 
https://www.w3schools.com/howto/howto_js_accordion.asp
https://codepen.io/eksch/pen/xwdOeK
https://www.bram.us/2020/01/10/smooth-scrolling-sticky-scrollspy-navigation/ 
*/

// page navbar footer setup

.faq {
  position: relative;
  display: grid;
  grid-template-rows: 50vh minmax(min-content, max-content);
  grid-template-columns:
    [ full-start] 1fr [center-start] repeat(
      10,
      [col-start] minmax(min-content, 12rem) [col-end]
    )
    [center-end] 1fr [full-end];

  grid-template-areas:
    'head head head head head head head head head head head head'
    '  .  fqct fqct fqct fqct fqct fqct fqct fqct fqct fqct   . '
    'foot foot foot foot foot foot foot foot foot foot foot foot';

  &__header {
    grid-area: head;
    // background: var(--color-primary-light-1);
    background-color: transparent;
    background-image: linear-gradient(
        to bottom,
        rgba(214, 137, 151, 0.01) 0%,
        rgba(248, 221, 226, 0.12) 65%,
        rgba(255, 2255, 255, 1) 100%
      ),
      url(https://picsum.photos/1920/540.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    &--title {
      font-family: var(--font-display);
      font-size: 5.6rem;
      background: transparent;
      color: var(--color-secondary-dark-2);
      font-weight: 500;
    }
  }

  &__footer {
    grid-area: foot;
    background-color: var(--color-secondary-light-1);
    border-top: 2px solid var(--color-secondary-light-2);
    padding: 4rem;

    display: grid;
    grid-auto-rows: auto;
    justify-content: center;
  }

  &__navbar {
    display: block;
    width: 15%;
    position: fixed;
    list-style: none;
    padding: 1rem;
    z-index: 100;
  }

  &__nav {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
    background: var(--color-secondary-light-0);
    & li {
      width: 100%;
      padding: 0.5rem 1rem;
    }

    & a {
      width: 100%;
      text-decoration: none;
      font-family: var(--font-primary);
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.54;
      color: var(--color-secondary-dark-2);
    }

    & li:not(:last-child) {
      border: 1px solid var(--color-secondary-dark-2);
      margin-bottom: 0.1rem;
    }

    & li:not(:first-child) {
      margin-top: 0.1rem;
    }

    & li:last-child {
      color: orangered;
    }

    &--link.active--link {
      width: 100%;
      background: var(--color-secondary-light-2);
    }
  }

  // Accordion sidebar sessions scroll

  * {
    box-sizing: border-box;
  }

  html {
    overflow-y: scroll;
    scroll-behavior: smooth;
  }

  &__main {
    grid-area: fqct;
    display: grid;
    grid-template-columns: 24rem 1fr;
    max-width: 160rem;
    width: 90%;
    margin: 4rem auto;

    & > nav {
      position: sticky;
      top: 50vh;
      align-self: flex-start;
    }
  }

  .section-nav {
    padding-right: 0;
  }

  &__sidebar {
    list-style: none;

    & li {
      font-family: var(--font-primary);
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.54;
      padding: 0.5rem 1rem;
      border: 1px solid var(--color-secondary-dark-2);

      &.active > a {
        color: var(--color-secondary-dark-2);
        background: var(--color-secondary-light-0);
        font-weight: 700;
      }
    }

    & a {
      padding: 0.5rem 1rem;
      text-decoration: none;
      color: var(--color-secondary-dark-2);
      display: block;
      padding: 2 0;
      justify-self: stretch;
    }

    & a:hover,
    & a:focus {
      background: var(--color-secondary-light-2);
    }
  }

  &__container {
    & section {
      margin-left: 4rem;
    }

    & section:not(:last-child) {
      margin-bottom: 4rem;
    }

    & h4 {
      font-family: var(--font-primary);
      font-size: 2.2rem;
      line-height: 1.25;
      font-weight: 300;
      margin-bottom: 2rem;
      color: var(--color-secondary-dark-2);
    }
  }

  &__accordion {
    list-style: none;

    & li {
      padding: 1.5rem 0;
      display: block;
      width: 100%;
      border-bottom: 1px solid var(--color-secondary-light-2);
    }
    &--question {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.5;
      width: 100%;
      color: var(--color-secondary-dark-2);

      &:before {
        // content: '\02795';
        font-family: 'Font Awesome 5 Free';
        content: '\f067';
        color: var(--color-secondary-dark-2);
        margin-right: 0.5rem;
        float: left;
        transition: all 0.4s ease-in-out;
      }

      &:hover::before {
        transform: rotate(180deg);
      }

      &.active {
        transform: rotate(180deg);
      }

      &.active:before {
        content: '\f068';
      }

      &.active:hover::before {
        transform: rotate(0);
      }
    }

    &--answer {
      width: 100%;
      display: none;
      overflow: hidden;

      &.active {
        display: block;
        animation: moveDown 0.5s ease-in-out;
        border-bottom: 2px solid var(--color-secondary-light-1);
      }

      & p {
        padding: 0;
        width: 100%;
        background: var(--color-secondary-light-0);
        color: var(--color-secondary-dark-2);
        font-family: var(--font-primary);
        font-size: 1.6rem;
        font-weight: 400;
      }
    }
  }
}
