.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border: 2px solid var(--color-secondary-dark-2);
  border-radius: 1.5rem;
  transition: all 0.5s ease-in-out;
  z-index: 1001;

  @media only screen and (max-width: $bp-large) {
    display: flex;
    position: relative;
    margin: 0 5rem 0 auto;
  }

  &__background {
    height: 4rem;
    width: 4rem;
    border-radius: 1.5rem;
    position: fixed;
    background-image: radial-gradient(
      var(--color-secondary-light-1),
      var(--color-secondary-dark-1)
    );
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
  }

  &.open &__background {
    opacity: 0.92;
    visibility: visible;
    transform: scale(80);
  }

  &__lines {
    width: 2rem;
    height: 0.3rem;
    background: var(--color-secondary-dark-2);
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.5rem rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
    z-index: 1002;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 2rem;
      height: 0.3rem;
      background: var(--color-secondary-dark-2);
      border-radius: 0.5rem;
      box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
      transition: all 0.5s ease-in-out;
    }

    &::before {
      transform: translateY(-0.8rem);
    }

    &::after {
      transform: translateY(0.8rem);
    }
  }

  &.open {
    // border: 0;
    left: 0;
  }

  &.open &__lines {
    transform: translateX(-5rem);
    background: transparent;
    box-shadow: none;
  }

  &.open &__lines::before {
    transform: rotate(45deg) translate(3.5rem, -3.5rem);
  }

  &.open &__lines::after {
    transform: rotate(-45deg) translate(3.5rem, 3.5rem);
  }
}
