.ourfounder {
  position: relative;
  display: grid;
  grid-template-rows: 50vh repeat(4, minmax(min-content, max-content));
  grid-template-columns:
    [ full-start] 1fr [center-start] repeat(
      10,
      [col-start] minmax(min-content, 12rem) [col-end]
    )
    [center-end] 1fr [full-end];

  grid-template-areas:
    'head head head head head head head head head head head head'
    ' .   ofc1 ofc1 ofc1 ofc1 ofc1 ofc1 ofc1 ofc1 ofc1 ofc1   . '
    ' .   ofpt ofpt ofpt ofpt ofpt ofpt ofpt ofpt ofpt ofpt   . '
    ' .   ofvd ofvd ofvd ofvd ofvd ofc2 ofc2 ofc2 ofc2 ofc2   . '
    'foot foot foot foot foot foot foot foot foot foot foot foot';

  @media only screen and (max-width: $bp-medium) {
    grid-template-rows: 50vh repeat(5, minmax(min-content, max-content));

    grid-template-areas:
      'head head head head head head head head head head head head'
      ' .   ofc1 ofc1 ofc1 ofc1 ofc1 ofc1 ofc1 ofc1 ofc1 ofc1   . '
      ' .   ofpt ofpt ofpt ofpt ofpt ofpt ofpt ofpt ofpt ofpt   . '
      ' .   ofvd ofvd ofvd ofvd ofvd ofvd ofvd ofvd ofvd ofvd   . '
      ' .   ofc2 ofc2 ofc2 ofc2 ofc2 ofc2 ofc2 ofc2 ofc2 ofc2   . '
      'foot foot foot foot foot foot foot foot foot foot foot foot';
  }

  &__header {
    grid-area: head;
    // background: var(--color-primary-light-1);
    background-color: transparent;
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.7) 0%,
        rgba(214, 137, 151, 0.01) 25%,
        rgba(248, 221, 226, 0.12) 65%,
        rgba(255, 2255, 255, 1) 100%
      ),
      url(https://picsum.photos/1920/540.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    &--title {
      font-family: var(--font-display);
      font-size: 5.6rem;
      background: transparent;
      color: var(--color-secondary-dark-2);
      font-weight: 500;
    }
  }

  &__footer {
    grid-area: foot;
    background-color: var(--color-secondary-light-1);
    border-top: 2px solid var(--color-secondary-light-2);
    padding: 4rem;

    display: grid;
    grid-auto-rows: auto;
    justify-content: center;
  }

  &__content {
    margin: 4rem 0 2rem;
    // background: var(--color-primary-light-2);
    background: transparent;

    &--1 {
      grid-area: ofc1;
    }

    &--2 {
      grid-area: ofc2;
      margin: 0 0 0 2rem;
    }

    &--txt {
      font-family: var(--font-primary);
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.25;
      color: var(--color-primary-dark-2);
      padding: 1rem;
      text-align: justify;
    }
  }

  &__photo {
    grid-area: ofpt;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;

    &--img {
      width: 25rem;
      margin: 2rem;
      border-radius: 10px;
      box-shadow: 0 1rem 2rem var(--color-shadow);
    }
  }

  &__video {
    grid-area: ofvd;
    margin-bottom: 4rem;
    position: relative;
    box-shadow: 0 1rem 2rem var(--color-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;

    &--iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      overflow: hidden;
    }
  }
}
