.ourfounder {
  position: relative;
  display: grid;
  grid-template-rows: 50vh repeat(4, minmax(min-content, max-content));
  grid-template-columns:
    [ full-start] 1fr [center-start] repeat(
      10,
      [col-start] minmax(min-content, 12rem) [col-end]
    )
    [center-end] 1fr [full-end];

  grid-template-areas:
    'oshd oshd oshd oshd oshd oshd oshd oshd oshd oshd oshd oshd'
    ' .   osst osst osst osst osst osst osst osst osst osst   . '
    ' .   ospt ospt ospt ospt ospt ospt ospt ospt ospt ospt   . '
    ' .   osvd osvd osvd osvd osvd osvd osvd osvd osvd osvd   . '
    'osft osft osft osft osft osft osft osft osft osft osft osft';

  &__header {
    grid-area: oshd;
    // background: var(--color-primary-light-1);
    background-color: transparent;
    background-image: url(https://picsum.photos/1920/540.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    &--title {
      font-family: var(--font-display);
      font-size: 5.6rem;
      background: transparent;
      color: var(--color-secondary-light-1);
      font-weight: 500;
    }
  }

  &__footer {
    grid-area: osft;
    background-color: var(--color-secondary-light-1);
    border-top: 2px solid var(--color-secondary-light-2);
    padding: 4rem;

    display: grid;
    grid-auto-rows: auto;
    justify-content: center;
  }

  &__content {
    margin: 4rem 0 2rem;
    grid-area: osst;
    background: var(--color-primary-light-2);

    &--txt {
      font-family: var(--font-primary);
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.25;
      color: var(--color-primary-dark-2);
      padding: 1rem;
    }
  }

  &__photo {
    grid-area: ospt;
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    flex-wrap: wrap;

    &--img {
      width: 35rem;
      margin: 2rem;
      border-radius: 15px;
      box-shadow: 0 1rem 2rem var(--color-shadow);
    }
  }

  &__video {
    grid-area: osvd;
    margin-bottom: 4rem;
    position: relative;
    box-shadow: 0 1rem 2rem var(--color-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;

    &--iframe {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}
